//
//  Production.xcconfig
//  WeatherAPi
//
//  Created by Gayan Dias on 18/09/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

WEATHER_API_HOST = api.weatherstack.com
API_KEY = d207fbf0c9b345a0c23bb5066b7bea54
ADYEN_API_HOST = a2ccc6ed4c2b13af-GreenMoRent-checkout-live.adyenpayments.com

TMDB_API_HOST = api.themoviedb.org/3/
TMDB_API_KEY = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlNGFiNTcxM2ZjZWFiYWQ1MWYyZTg3N2E3NzU0OWUzOCIsIm5iZiI6MTY0MTg5NzY4MC40MzM5OTk4LCJzdWIiOiI2MWRkNWVkMDFkNmM1ZjAwMWJmZjJmMTciLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.BF25FTUljDa81WHUsIdBvmpR_Y_1OuMf2D3PVeT9mgs

JSONPLACEHOLDER_API_HOST = jsonplaceholder.typicode.com
