//
//  Staging.xcconfig
//  WeatherAPi
//
//  Created by Gayan Dias on 18/09/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GO_SHARING_API_HOST = api-test.go-sharing.dev
ADYEN_API_HOST = a2ccc6ed4c2b13af-GreenMoRent-checkout-live.adyenpayments.com
